 #root {
  /* background: linear-gradient(#F7EEEE, #FFFFFF); */
  /* background: #F6F2F1; */
}

.logo {
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo img {
  display: block;
  height: 72px;
  pointer-events: none;
  margin: auto;
}

.btn-primary {
	color: #fff;
	background-color: #ED6C5B;
	border-color: #ED6C5B;
}

.btn-primary:hover {
	color: #fff;
	background-color: #CC5D4E;
	border-color: #CC5D4E;
}

.search {
  background-color: #f0f0f0;
  border-radius: 4px;
}

.search {
  max-width: 70%;
  margin: auto;
}

.btn.btn-primary.btn-sm {
  background-color: #ED6C5B;
	border-color: #ED6C5B;
  border-radius: 50rem;
}

.btn.btn-primary.btn-sm .close {
  border: none;
  background-color: #ED6C5B;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 600;
}


/* Card Styling */
.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.card {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
}

.card:hover {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.3));
}

.card-body a.btn.btn-primary {
  width: -webkit-fill-available;
  width: -moz-available;
}


@include media-breakpoint-up(md) { 
  .row.col .col-sm- {
    grid-column: 2;
  }
}

