#root {
  /* background: linear-gradient(#F7EEEE, #FFFFFF); */
  /* background: #F6F2F1; */
}

.logo {
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo img {
  display: block;
  height: 72px;
  pointer-events: none;
  margin: auto;
}

h5 {
  color: #ED6C5B;
}

.search {
  max-width: 70%;
  margin: auto;
  background-color: #F6F2F1;
  border-radius: 4px;
}